* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

img {
    vertical-align: middle;
    border: 0;
}

i {
    font-style: italic;
}

.body-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container-info {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-info-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-info-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}

.nav-info-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
}

.nav-info {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-info > li {
    position: relative;
    display: block;
}

.nav-info > li > a {
    position: relative;
    display: block;
    padding: 10px 20px;
}

.p-info {
    font-size:14px; 
    text-align:left; 
    color:#000; 
    font-weight: unset; 
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.media-left, .media-right, .media-body {
    vertical-align: middle;
}

.event-date {
    text-align: center;
    width: 60px;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}

.mama > li > a {
    padding: 10px 20px;
    color: #26be9f;
    background: #eee;
}

.mama > li.active > a, .mama > li.active > a:hover, .mama > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #26be9f;
}

.cp-post-content {
    text-align: left;
}

.ul-info {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.li-info {
    display: list-item;
    text-align: -webkit-match-parent;
}

.ul-info, .ol-info {
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px){
    .container-info {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container-info {
        width: 970px;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}

@media (min-width: 1200px){
    .container-info {
        width: 1170px;
    }
}

/*--------------------------------------------------------------
# Berita & Artikel
--------------------------------------------------------------*/
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}

ul, ol {
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

img {
    vertical-align: middle;
    border: 0;
}

@media (min-width: 768px){
    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
}


@media (min-widht: 992px) {
    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}

/*--------------------------------------------------------------
# Detail
--------------------------------------------------------------*/
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}