body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* .login-form {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
} */

.bg-image{  
    height: 100vh;
    background-image: url('../assets/img/landing-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-content{
    /* position: absolute !important;  */
    z-index: 2 !important;
    background-color:rgba(120, 120, 120, 0.8);
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px !important;
    font-weight: 400;
    font-family: Poppins, Helvetica, "sans-serif";
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: Poppins, Helvetica, "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: block;
    /* margin: 8px; */
}

/*--------------------------------------------------------------
# Tampilan Login
--------------------------------------------------------------*/
.flex-root {
    -webkit-box-flex: 1;
    flex: 1;
    -ms-flex: 1 0 0px;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.d-flex {
    padding: 22.7px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-row-fluid {
    -webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bgi-no-repeat {
    background-repeat: no-repeat;
}

.bgi-size-cover {
    background-size: cover;
}

.login.login-3 .login-form {
    width: 100%;
    max-width: 450px;
}

.position-relative {
    position: relative !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

/*
    BUTTON
*/
button, input {
    overflow: visible;
}

.btn {
    outline: none !important;
    vertical-align: middle;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-outline-white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn.btn-outline-white {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}
.btn:not(.btn-text) {
    cursor: pointer;
}
.btn.btn-pill {
    border-radius: 2rem;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a, button {
    outline: 0 !important;
}
a {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
a {
    color: #3699FF;
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.max-h-100px {
    max-height: 100px !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

div {
    display: block;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* ===============
# Form Login
 =================*/
.login-signin {
    align-content: center;
    margin-top: 25%;
    margin-bottom: 22%;
}

.login.login-3.login-signin-on .login-signin {
    display: block;/*  */
}

.login.login-3 .login-forgot, .login.login-3 .login-signin, .login.login-3 .login-signup {
    display: none;
}

form {
    display: block;
    margin-top: 0em;
}

.form-group {
    margin-bottom: 1.75rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    border-radius: 0.42rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.mb-20, .my-20 {
    margin-bottom: 5rem !important;
}

.mb-15, .my-15 {
    margin-bottom: 3.75rem !important;
}

.pl-15, .px-15 {
    padding-left: 3.75rem !important;
}
.pr-15, .px-15 {
    padding-right: 3.75rem !important;
}
.pb-3, .py-3 {
    padding-bottom: 0.75rem !important;
}
.pt-3, .py-3 {
    padding-top: 0.75rem !important;
}

.p-7 {
    padding: 1.75rem !important;
}

.pl-8, .px-8 {
    padding-left: 2rem !important;
}
.pr-8, .px-8 {
    padding-right: 2rem !important;
}
.pb-4, .py-4 {
    padding-bottom: 1rem !important;
}
.pt-4, .py-4 {
    padding-top: 1rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 1.25rem !important;
}
.mt-10, .my-10 {
    margin-top: 2.5rem !important;
}

.h-auto {
    height: auto !important;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.border-0 {
    border: 0 !important;
}

/*
    TEXT
*/
.opacity-90 {
    opacity: 0.9 !important;
}
.font-weight-bold {
    font-weight: 500 !important;
}

.text-white {
    color: #ffffff !important;
}

.text-center {
    text-align: center !important;
}

.h-auto {
    height: auto !important;
}

.h-auto {
    height: auto !important;
}

.opacity-70 {
    opacity: 0.7 !important;
}

.bg-white-o-30 {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: xx-large;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}